<script setup lang="ts">
import MCard from '@components/material/MCard.vue'
import MButton from '@components/material/MButton.vue'
import MCardTitle from '@components/material/MCardTitle.vue'
import MCardBody from '@components/material/MCardBody.vue'
</script>

<template>
    <MCard>
        <MCardTitle>Button test</MCardTitle>
        <MCardBody class="grid grid-flow-col gap-3">
            <MButton variant="primary">Primary</MButton>
            <MButton variant="outline">Outline</MButton>
            <MButton variant="secondary">Secondary</MButton>
            <MButton variant="disabled">Disabled</MButton>
            <MButton variant="danger">Danger</MButton>
        </MCardBody>
    </MCard>
</template>