<script setup lang="ts">
import { computed, defineProps, defineEmits } from 'vue'
const props = defineProps({
    variant: {
        type: String,
        default: 'disabled',
        
    }
})

defineEmits(['click'])

const styleClass = computed (()=> {
    let styleClass = 'mt-button'
    if (props.variant != 'outline') styleClass += ` mt-${props.variant}`
    return styleClass
})
</script>

<template>
    <button class="transition-all ease-out duration-150" :class="styleClass" @click="(e) => $emit('click', e)">
        <slot>Button</slot>
    </button>
</template>

<style lang="scss">
.mt-button {
    padding: theme('padding[0.5]') theme('padding.4');
    border-radius: theme('borderRadius.md');
    border-width: 1px;
    border-color: darken($color: #000, $amount: 10);
    box-shadow: theme('dropShadow.md');
    &:hover {
        box-shadow: theme('dropShadow.lg');
        animation: theme('animation.pulse');
        transition: theme('transitionProperty.all');
    }
}
button.mt-primary {
    @extend .mt-button;
    background-color: theme('colors.primary.DEFAULT');
    border-color: theme('colors.transparent');
    &:hover {
        background-color: theme('colors.primary.dark');
    }
}
button.mt-secondary {
    @extend .mt-button;
    background-color: theme('colors.secondary.DEFAULT');
    color: theme('colors.on.secondary.DEFAULT');
    border-color: theme('colors.transparent');
    &:hover {
        background-color: theme('colors.secondary.dark');
    }
}
button.mt-disabled {
    @extend .mt-button;
    background-color: theme('colors.gray.400');
    border-color: theme('colors.transparent');
    color: theme('colors.gray.500');
    &:hover{
        box-shadow: theme('dropShadow.md');
    }
}
button.mt-danger {
    @extend .mt-button;
    background-color: theme('colors.red.500');
    color: theme('colors.white');
    border-color: theme('colors.transparent');
    &:hover {
        background-color: theme('colors.red.600');
    }
}
</style>