<template>
    <div class="card grid">
        <slot/>
    </div>
</template>

<style lang="scss">
div.card
{
    border-radius: theme('borderRadius.md');
    background-color: theme('colors.gray.50');
    border-color: theme('colors.gray.200');
    border-width: 1px;
    padding: theme('padding.2');
    box-shadow: theme('dropShadow.md');
}
</style>