<script setup lang="ts"></script>

<template>
  <div id="asdf">
    <div class="fixed left-0 top-5 bg-slate-500 px-3 rounded-md text-white backdrop-blur-lg">
      <span>default-layout</span>
    </div>
    <slot></slot>
  </div>
</template>
